// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MAC 0
#define WIN 1
#define RIG 2
#define LEF 3
#define TRI 4
#define MOUSE 5

// https://zmk.dev/docs/development/hardware-integration/soft-off-setup?advanced-methods=wakeup&kscan-type=dkscan

/ {
    keys {
        compatible = "gpio-keys";

        soft_off_gpio_key: soft_off_gpio_key { gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; };
    };

    wakeup_scan: wakeup_scan {
        compatible = "zmk,kscan-gpio-direct";
        input-keys = <&soft_off_gpio_key>;
        wakeup-source;
    };

    side_band_behavior_triggers: side_band_behavior_triggers {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&wakeup_scan>;
        auto-enable;
        wakeup-source;
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&wakeup_scan>;
    };
};

/ {
    // chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        tdm: tdm {
            compatible = "zmk,behavior-tap-dance";
            label = "TDM";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp LEFT_BRACKET>;
        };

        tdcomma: tdcomma {
            compatible = "zmk,behavior-tap-dance";
            label = "TDCOMMA";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SINGLE_QUOTE>;
        };

        tddot: tddot {
            compatible = "zmk,behavior-tap-dance";
            label = "TDDOT";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp RIGHT_BRACKET>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        ENG {
            bindings = <&toeng>;
            key-positions = <2 3>;
            layers = <4>;
        };

        newline {
            bindings = <&kp LS(ENTER)>;
            key-positions = <20 33>;
            layers = <0 4>;
        };

        changeru {
            bindings = <&torus>;
            key-positions = <2 3>;
            layers = <0>;
        };
    };

    macros {
        Changetoeng: Changetoeng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "CHANGETOENG";
        };

        ruendol: ruen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp DOLLAR &Changetoeng>;
            label = "RUEN";
        };

        ruenat: ruenat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp AT_SIGN &Changetoeng>;
            label = "RUENAT";
        };

        ruenhash: ruencell {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp HASH &Changetoeng>;
            label = "RUENCELL";
        };

        ruenless: ruenless {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp LESS_THAN &Changetoeng>;
            label = "RUENLESS";
        };

        ruengreat: ruengreat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp GREATER_THAN &Changetoeng>;
            label = "RUENGREAT";
        };

        ruengrave: ruengrave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp GRAVE &Changetoeng>;
            label = "RUENGRAVE";
        };

        ruencolon: ruencolon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp COLON &Changetoeng>;
            label = "RUENCOLON";
        };

        ruenslash: ruenslash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp LG(BACKSLASH) &Changetoeng>;
            label = "RUENSLASH";
        };

        ruentilde: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp TILDE &Changetoeng>;
            label = "NEW_MACRO";
        };

        ruencaret: ruencaret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp CARET &Changetoeng>;
            label = "RUENCARET";
        };

        ruenopenbracket: ruenopenbracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp LEFT_BRACKET &Changetoeng>;
        };

        ruenclosebracket: ruenclosebracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp RIGHT_BRACKET &Changetoeng>;
            label = "RUENCLOSEBRACKET";
        };

        ruenquotes: ruendunno {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp DOUBLE_QUOTES &Changetoeng>;
            label = "RUENDUNNO";
        };

        ruenopenbrace: ruenopenbrace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp LEFT_BRACE &Changetoeng>;
            label = "RUENOPENBRACE";
        };

        ruenclosebrace: ruenclosebrace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp RIGHT_BRACE &Changetoeng>;
            label = "RUENCLOSEBRACE";
        };

        ruenaquote: ruenasteriks {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp SINGLE_QUOTE &Changetoeng>;
            label = "RUENASTERIKS";
        };

        ruenpipe: ruenpipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp PIPE &Changetoeng>;
            label = "ruenpipe";
        };

        ruensimicolon: ruensimicolon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp SEMICOLON &Changetoeng>;
            label = "RUENSIMICOLON";
        };

        ruencomma: ruencomma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp COMMA &Changetoeng>;
            label = "RUENCOMMA";
        };

        ruenquest: ruenquest {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp QUESTION &Changetoeng>;
            label = "RUENQUEST";
        };

        ruendot: ruendot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &kp PERIOD &Changetoeng>;
            label = "RUENDOT";
        };

        toeng: toeng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &tog 4>;
            label = "TOENG";
        };

        torus: torus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&Changetoeng &tog 4>;
            label = "TORUS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ENGLISH {
            display-name = "ENGLISH";
            bindings = <
  &kp Q             &kp W       &kp E         &kp R       &kp T                 &kp Y      &kp U       &kp I        &kp O       &kp P
  &kp A             &ht LALT S  &ht LCTRL D   &ht LGUI F  &kp G                 &kp H      &ht RGUI J  &ht RCTRL K  &ht RALT L  &kp SEMICOLON
  &mt LEFT_SHIFT Z  &kp X       &kp C         &kp V       &kp B                 &kp N      &kp M       &kp COMMA    &kp DOT     &mt RIGHT_SHIFT SLASH
                                &kp LEFT_GUI  &lt 1 ESC   &mt LEFT_ALT SPACE    &kp ENTER  &lt 2 TAB   &kp BSPC
            >;
        };

        NUM {
            display-name = "NUM";
            bindings = <
  &kp LG(LEFT_ARROW)    &kp LA(LEFT)    &kp UP_ARROW  &kp LA(RIGHT)  &kp LG(RIGHT)       &kp EQUAL          &kp N7        &kp N8        &kp N9        &kp PLUS
  &kp LG(LS(UP_ARROW))  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp CAPSLOCK        &kp LS(N5)         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0
  &kp LS(LG(DOWN))      &kp LG(X)       &kp LG(C)     &kp LG(V)      &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS
                                        &trans        &trans         &trans              &trans             &mo 3         &trans
            >;
        };

        SYMB {
            bindings = <
  &kp DOLLAR   &kp LESS_THAN         &kp EQUAL  &kp GREATER_THAN       &kp GRAVE         &kp CARET    &kp LBKT         &kp UNDERSCORE  &kp RBKT         &kp DOUBLE_QUOTES
  &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp MINUS  &kp RIGHT_PARENTHESIS  &kp PLUS          &kp PERCENT  &kp LEFT_BRACE   &kp SEMICOLON   &kp RIGHT_BRACE  &kp SINGLE_QUOTE
  &kp HASH     &kp ASTERISK          &kp COLON  &kp NON_US_BACKSLASH   &kp TILDE         &kp PIPE     &kp EXCLAMATION  &kp COMMA       &kp QUESTION     &kp PERIOD
                                     &trans     &mo 3                  &kp UNDERSCORE    &trans       &trans           &trans
            >;
        };

        nav {
            bindings = <
  &kp LG(Q)       &kp LG(W)      &kp LA(K)       &soft_off   &kp LA(EQUAL)     &Changetoeng      &kp C_VOL_DN      &kp C_MUTE        &kp C_VOL_UP      &kp LA(N8)
  &kp LA(SLASH)   &kp LA(H)      &kp LA(J)       &kp LA(L)   &kp LA(MINUS)     &kp LA(NUMBER_6)  &kp K_PREV        &kp K_PLAY_PAUSE  &kp K_NEXT        &kp LA(NUMBER_7)
  &kp LEFT_SHIFT  &kp LG(SPACE)  &kp LG(LS(N5))  &kp LA(N0)  &kp LS(LA(N0))    &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)  &kp LA(N5)
                                 &trans          &trans      &trans            &trans            &trans            &trans
            >;
        };

        RUSSIAN {
            display-name = "RUSSIAN";
            bindings = <
  &kp Q             &kp W       &kp E         &kp R       &kp T                 &kp Y      &kp U       &kp I        &kp O       &kp P
  &kp A             &ht LALT S  &ht LCTRL D   &ht LGUI F  &kp G                 &kp H      &ht RGUI J  &ht RCTRL K  &ht RALT L  &kp SEMICOLON
  &mt LEFT_SHIFT Z  &kp X       &kp C         &kp V       &kp B                 &kp N      &tdm        &tdcomma     &tddot      &mt RIGHT_SHIFT SLASH
                                &kp LEFT_GUI  &lt 5 ESC   &mt LEFT_ALT SPACE    &kp ENTER  &lt 6 TAB   &kp BSPC
            >;
        };

        RUNUM {
            display-name = "RUNUM";
            bindings = <
  &kp LG(LEFT_ARROW)    &kp LA(LEFT)    &kp UP_ARROW  &kp LA(RIGHT)  &kp LG(RIGHT)       &kp EQUAL          &kp N7        &kp N8        &kp N9        &kp PLUS
  &kp LG(LS(UP_ARROW))  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp CAPSLOCK        &kp LS(N5)         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0
  &kp LS(LG(DOWN))      &kp LG(X)       &kp LG(C)     &kp LG(V)      &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS
                                        &trans        &trans         &trans              &trans             &mo 7         &trans
            >;
        };

        RUSYMB {
            display-name = "RUSYMB";
            bindings = <
  &ruendol   &ruenless             &kp EQUAL   &ruengreat             &ruengrave        &ruencaret   &ruenopenbracket  &kp UNDERSCORE  &ruenclosebracket  &ruenquotes
  &ruenat    &kp LEFT_PARENTHESIS  &kp MINUS   &kp RIGHT_PARENTHESIS  &kp PLUS          &kp PERCENT  &ruenopenbrace    &ruensimicolon  &ruenclosebrace    &ruenaquote
  &ruenhash  &kp ASTERISK          &ruencolon  &ruenslash             &ruentilde        &ruenpipe    &kp EXCL          &ruencomma      &ruenquest         &ruendot
                                   &trans      &mo 7                  &kp UNDERSCORE    &trans       &trans            &trans
            >;
        };

        runav {
            bindings = <
  &kp LG(Q)       &kp LG(W)      &kp LA(K)       &soft_off   &kp LA(EQUAL)     &Changetoeng      &kp C_VOL_DN      &kp C_MUTE        &kp C_VOL_UP      &kp LA(N8)
  &kp LA(SLASH)   &kp LA(H)      &kp LA(J)       &kp LA(L)   &kp LA(MINUS)     &kp LA(NUMBER_6)  &kp C_PREVIOUS    &kp C_PLAY_PAUSE  &kp C_NEXT        &kp LA(NUMBER_7)
  &kp LEFT_SHIFT  &kp LG(SPACE)  &kp LG(LS(N5))  &kp LA(N0)  &kp LS(LA(N0))    &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)  &kp LA(N5)
                                 &trans          &trans      &trans            &trans            &trans            &trans
            >;
        };
    };
};
